__pycache__
*/__pycache__
*/__pycache__/*
*.pth*
*.pt
app/gfpgan
app/gunicorn.log
app/src/dagan/checkpoints
app/src/image_cropping/crowdhuman_yolov5m.pt
app/src/results-1
app/src/results-2
app/src/sadTalker/checkpoints
app/src/sadTalker/gfpgan
app/src/sadTalker/*.mp4
app/src/sadTalker/.idea/
app/src/sadTalker/examples/results/*
app/src/sadTalker/gfpgan/*
app/src/sadTalker/checkpoints/*
app/src/sadTalker/assets/*
app/src/sadTalker/results/*
app/src/sadTalker/Dockerfile
app/src/sadTalker/start_docker.sh
app/src/sadTalker/start.sh
